$violet : hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);
body{
    background-color: $violet;
    
    background-image:  url("images/bg-desktop.svg");
 
    background-repeat: no-repeat;
    padding: 20px;
}

.flex{
    display:flex;
   
    .one{ 
        width:100%;
        #logo{
            text-align: center;
        }
       
        #mock{
            padding: 50px;
            width:100%;
            
        }
        
    }
    .two{
        padding: 150px 90px;
        color:white;
        line-height: 2rem;
        h1{
            padding-right: 20px;
            word-spacing: 0.1rem;
            line-height: 3rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
        p{
            justify-self: left;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }
        button{
            background-color: white;
            padding: 20px 60px;
            border-radius: 50px;
            border: none ;
            color: $violet;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }
        button:hover{
             background-color: $magenta;
             color: white;
        }
    }
   
}
.icons{
    .fab{
        color:white;
        border: 1px solid white;
        padding: 10px;
        border-radius: 50%;
        float: right;
        margin-left: 10px;
        cursor: pointer;
    }
    .fab:hover{
        color:$magenta;
        border: 1px solid $magenta;
    }
}

@media(max-width:375px){
    body{
        padding: 0px;
        background-image: url("images/bg-mobile.svg");
    }
.flex{
    flex-direction: column;
    .two{
        margin-left: 15%;
        padding: 0px;
        text-align: center;
        h1{
            padding-right: 0px;
        }
       
    }
}
.icons{
    margin-left: 40%;
    padding-top: 50px;
    .fab{
        float: none;
    }
}
}
